<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>

<body>
    <!-- navbar -->
    <nav class="navbar sticky-top bg-dark navbar-expand-lg " data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/feed">Pinterest</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/feed">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/createpost">Create</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/feed">Feed</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
              </li>
            </ul>
            <a href="/logout" class="logout-btn">Logout</a>
          </div>
        </div>
    </nav>

    <!-- profile info -->
    <div id="card1">
        <img id="avatar1"
            src="/images/uploads/<%= user.dp %>"
            alt="avatar" />
        <!-- pencil icon -->
        <span id="pencil-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
            </svg>
        </span>
        <!-- hidden form for profile changing or pencil-icon -->
        <form id="uploadform" hidden action="/fileupload" method="post" enctype="multipart/form-data">
            <input type="file" name="profileimg">
        </form>

        <div id="info1">
            <h2 id="name"><%= user.fullName %></h2>
            <h3 id="activity">@<%= user.username %></h3>
            <h3 id="activity">some tagline</h3>
            <h3 id="activity">Description</h3>
            
            <div id="stats">
                <p class="stats-text">
                    <svg viewBox="0 0 24 24">
                        <path
                            d="M4.5 6.375a4.125 4.125 0 118.25 0 4.125 4.125 0 01-8.25 0zM14.25 8.625a3.375 3.375 0 116.75 0 3.375 3.375 0 01-6.75 0zM1.5 19.125a7.125 7.125 0 0114.25 0v.003l-.001.119a.75.75 0 01-.363.63 13.067 13.067 0 01-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 01-.364-.63l-.001-.122zM17.25 19.128l-.001.144a2.25 2.25 0 01-.233.96 10.088 10.088 0 005.06-1.01.75.75 0 00.42-.643 4.875 4.875 0 00-6.957-4.611 8.586 8.586 0 011.71 5.157v.003z" />
                    </svg>
                    <span>5k</span>
                    followers
                </p>
                <p class="stats-text">
                    <svg viewBox="0 0 24 24">
                        <path d="M12 9a3.75 3.75 0 100 7.5A3.75 3.75 0 0012 9z" />
                        <path fill-rule="evenodd"
                            d="M9.344 3.071a49.52 49.52 0 015.312 0c.967.052 1.83.585 2.332 1.39l.821 1.317c.24.383.645.643 1.11.71.386.054.77.113 1.152.177 1.432.239 2.429 1.493 2.429 2.909V18a3 3 0 01-3 3h-15a3 3 0 01-3-3V9.574c0-1.416.997-2.67 2.429-2.909.382-.064.766-.123 1.151-.178a1.56 1.56 0 001.11-.71l.822-1.315a2.942 2.942 0 012.332-1.39zM6.75 12.75a5.25 5.25 0 1110.5 0 5.25 5.25 0 01-10.5 0zm12-1.5a.75.75 0 100-1.5.75.75 0 000 1.5z"
                            clip-rule="evenodd" />
                    </svg>
                    <span>147</span>
                    photos
                </p>
                <p class="stats-text">
                    <svg viewBox="0 0 24 24">
                        <path
                            d="M5.566 4.657A4.505 4.505 0 016.75 4.5h10.5c.41 0 .806.055 1.183.157A3 3 0 0015.75 3h-7.5a3 3 0 00-2.684 1.657zM2.25 12a3 3 0 013-3h13.5a3 3 0 013 3v6a3 3 0 01-3 3H5.25a3 3 0 01-3-3v-6zM5.25 7.5c-.41 0-.806.055-1.184.157A3 3 0 016.75 6h10.5a3 3 0 012.683 1.657A4.505 4.505 0 0018.75 7.5H5.25z" />
                    </svg>
                    <span>93</span>
                    posts
                </p>
            </div>
        </div>
    </div>
    <hr>
    <!-- card to show one default borad which contains all pins/images -->
    <div class="container">
        <div class="carts post-flex">
            <a href="/profile/allpins" class="allpins">
                <div class="card" style="width: 18rem;">
                    <img src="/images/uploads/<%= user?.posts[0]?.image %>"
                        class="card-img-top" alt="<%= user?.posts[0]?.imageText %>">
                    <div class="card-body">
                        <h5 class="card-title">Your uploaded pins</h5>
                        <h4 class="card-title"><%= user.posts.length %> Pins</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <!-- js for profile pic changing or pencil icon -->
    <script>
        // js for pencil icon
        document.querySelector("#pencil-icon").addEventListener("click",function(){
            document.querySelector("#uploadform input").click();
        })
        // js for hidden icon-form
        document.querySelector("#uploadform input").addEventListener("change",function(){
            document.querySelector("#uploadform").submit();
        })
    </script>
</body>

</html>